*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
width: 100%;
}

#dog-image-container{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;
margin-bottom: 20px;
place-items: center;
padding: 10px 150px;
/* background: #f69d9d; */

}

.image{
width: 500px;
height: 400px;
object-fit: cover;

}
